.survey-page {
  min-width: 800px;
  min-height: 100%;
  background: #ebf3fd;
  position: relative;
  background-color: #f2f2f2;
}
.survey-page .survey-container {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 10;
  position: relative;
}
.survey-page .survey-container .survey-header {
  padding: 108px 72px 64px 72px;
  text-align: center;
}
.survey-page .survey-container .survey-header .top-tips-wrap {
  text-align: left;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.survey-page .survey-container .survey-header .page-cover-pic {
  height: 150px;
  margin-top: 10px;
  margin-bottom: 40px;
  background-image: url("banner.gif");
  background-size: cover;
}
.survey-page .survey-container .survey-header .survey-header-title {
  margin-top: 10px;
  font-size: 30px;
}
.survey-page .survey-container .survey-header .survey-header-subtitle {
  margin-top: 20px;
  font-size: 16px;
}
.survey-page .survey-container .survey-header .survey-header-subtitle .skin strong {
  color: #2863f3;
}
.survey-page .survey-container .survey-main {
  position: relative;
  padding: 34px 72px 84px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
}
.survey-page .survey-container .survey-main .progress {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 14px 16px;
  background-color: #ffffff;
}
.survey-page .survey-container .copyright {
  padding: 32px 0 40px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
}
.survey-page .survey-container .copyright a {
  color: rgba(0, 0, 0, 0.3);
}
